.typewrite {
    font-size: 5em;
    padding: 20px;
    font-family: 'Anek Devanagari', sans-serif;

}

.content {
    /* display: flex;
    background-image: url('../cs_wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    /* width:200px; */
    height: 100vh;

}

.bio{
    font-size: 2em;
}


p{
    
    font-family: 'Anek Devanagari', sans-serif;
}



#frameworks{
    padding: 25px;
}